@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Rubik, sans-serif;
  background: #0f1424;
  padding: 4rem 1rem;
}

.header {
  border-radius: 10px;
  background: #1c1f4a;
  margin-bottom: 2rem;
}

.top-header {
  background: #5847eb;
  border-radius: 10px;
  padding: 1.5rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header img {
  width: 50px;
  height: 50px;
  border: 2px solid #bdc1ff;
  border-radius: 50%;
}

.name-info {
  margin-left: 1rem;
  color: #bdc1ff;
}

.name-info h6 {
  font-weight: 400;
}

.lower-header {
  border-radius: 0 0 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
}

.lower-header p {
  color: #bdc1ff;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.lower-header p:hover {
  opacity: 1;
}

.tracker {
  border-radius: 10px;
  padding-top: 40px;
  margin-bottom: 2rem;
  position: relative;
  z-index: -20;
  overflow: hidden;
}

.work {
  background-color: #ff8c66;
}

.play {
  background-color: #56c2e6;
}

.study {
  background-color: #ff5c7c;
}

.exercise {
  background-color: #4acf81;
}

.social {
  background-color: #7536d3;
}

.self-care {
  background-color: #f1c65b;
}

.work-img {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: -10;
  top: -10px;
  right: 1rem;
}

.activity {
  background: #1c1f4a;
  border-radius: 10px;
  padding: 1.5rem;
  position: relative;
  top: 1.5px;
  z-index: 2;
}

.activity-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.activity-type h5 {
  color: #ffffff;
  font-weight: 400;
}

.activity-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activity-stats .current {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 300;
}

.activity-stats p {
  color: #bdc1ff;
}
/*# sourceMappingURL=index.css.map */